body {
    font-family: "Rubik", sans-serif;
}

.sec-1 {
    background-image: url(images/pattern-bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;

    .form {
        width: fit-content;

        h2 {
            color: white;
        }

        div {
            background-color: white;
            width: fit-content;

            button {
                background-color: hsl(0, 0%, 17%);
            }
        }
    }
}

.bar {
    width: fit-content;
    background-color: white;
    position: absolute;
    top: 150px;
    z-index: 4;
}

#map {
    height: 700px; 
    width: 100%;
    z-index: 1;
}